<!DOCTYPE html>
<html>
<head>
  <title>TropoExample</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
 <%= display_flash(flash) %>
<div id="content">
<%= yield %>
</div>

</body>
</html>
